<p>card-product works!</p>

<div class="cards-container">
    <div class="product-card">
      <img
        src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt=""
      />
      <div class="product-info">
        <div>
          <p>${{product.price}}</p>
          <p>{{product.name}}</p>
        </div>
        <figure>
          <img [src]="product.image" alt="" />
        </figure>
      </div>
      <div class="product-counter">
        <button (click)="addProduct()">+</button>
        <p>{{ cantidad }}</p>
        <button (click)="removeProduct()">-</button>
      </div>
    </div>
  </div>