
<div class="cards-container">
    <div class="product-card">
      <img
        src={{product.image}}
        alt=""
      />
      <div class="product-info">
        <div>
          <p>${{product.price}}</p>
          <p>{{product.name}}</p>
        </div>
        <figure>
          <img src="assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
      <div class="product-counter">
        <button (click)="addProduct()">+</button>
        <p>{{ cantidad }}</p>
        <button (click)="removeProduct()">-</button>
      </div>
    </div>
  </div>